/* Phoenix CSS */
.container { padding: 50px 15px; }

  /* Custom Sections */
  .phoenix { background: #A32127 url(../img/bg-main.png) center no-repeat; padding-top: 120px; color: rgba(255,255,255,.65) } 
  .phoenix h1 { color: #FFF; }
  /* .phoenix a { background: rgba(255,255,255,.85); font-weight: bold; border-radius: 1px; padding: 0px 5px 1px; }
  .phoenix a:hover { background: rgba(255,255,255,1); text-decoration: none; } */
  .phoenix .phoenix-alpha { margin: 50px auto; max-width: 1050px; box-shadow: 0px 0px 30px 0px rgba(150,20,25,.55); transition: 0.3s linear; }
  .phoenix .phoenix-alpha video { width: 100%; }
  .phoenix .phoenix-alpha:hover { box-shadow: 0px 0px 50px 10px rgba(200, 25, 25,.75), 0px 0px 0px 1px rgba(255,255,255,.2); }
  .phoenix .btn { background: none !important; margin-top: 20px; color: #FFF; border: 2px solid #FFF; font-weight: 900; text-transform: uppercase; padding: 10px 30px; border-radius: 100px; transition: all 0.2s ease; text-shadow: 0px 0px 0px 0px; }
  .phoenix .btn:hover { background: #FFF !important; color: #333; border-radius: 100px; }
  .phoenix .btn:focus { background: #A32127 !important; color: #FFF; border-color: #A32127; }

  .phoenix-features { background-color: #1E2024; }
  .phoenix-features h2 { color: #E2E2E2; font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 20px; }

  .devs-wanted { background-color: #1A1B1F; }

  .shareus { text-align: right; }
  .shareus i { font-size: 24px; color: #FFF; margin-left: 20px; transition: all 0.2s linear; }
  .shareus i:hover { text-shadow: 0px 0px 5px rgba(0,0,0,.5); }

  footer { background-color: #141619; }
  footer .container { padding: 20px 15px; }
  footer .container:after { content:''; display:block; clear: both; }

/* Links */
a { color: #A32127; text-decoration: none; }
a:hover, a:focus { color: #A32127; text-decoration: underline; }
.btn { background-color: #A32127 !important; border: none; }
.btn:hover { background-color: #BF272E !important; }
.btn:active { background-color: #8F1E24 !important; }
.phoenix a { color: #FFF; font-weight: bold; }

/* Custom navbar (darkly based) */  
.navbar { background: transparent; }

nav { transition: all 0.2s linear; }
nav img { float: left; transition: all 0.2s linear; }
nav a { transition: all 0.2s linear; }
nav .container { padding: 0px; }
nav a.navbar-brand { padding-top: 25px !important; }
nav a { padding-top: 40px !important; padding-bottom: 20px !important; font-weight: bold; font-size: 14px; text-transform: uppercase; }
nav a:hover { color: #A32127 !important; }

nav .navbar-toggle { margin: 30px 30px 30px 0; background: transparent; border: 1px solid #FFF !important; }
nav .navbar-toggle:hover { background: rgba(255,255,255,.3) !important; }
nav .navbar-toggle:focus { background: #A32127 !important; border-color: #A32127 !important; }

nav.shrink { background: rgba(0,0,0,.70); }
nav.shrink a { padding-top: 18px !important; padding-bottom: 10px !important; font-size: 12px; }
nav.shrink a.navbar-brand { padding-top: 10px !important; }
nav.shrink img { height: 40px; }
nav.shrink .navbar-toggle { margin: 11px 30px 10px 0px; }

@media (max-width: 767px) {
    .navbar-collapse { background: rgba(0,0,0,.10); border-top: 0px; }
    .navbar-collapse a { padding: 20px 30px !important; }
    nav img { height: 45px; }
    nav .navbar-brand { margin-left: 10px; }
    nav.shrink { }
}

/*
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #375a7f;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #375a7f;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #00a379;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #aaaaaa;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #008966;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #008966;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #009871;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #00a379;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #375a7f;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #00a379;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #aaaaaa;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #ffffff;
}
.navbar-inverse .navbar-link:hover {
  color: #375a7f;
}
.navbar-inverse .btn-link {
  color: #ffffff;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #375a7f;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #aaaaaa;
}
*/